*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.containerForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid white;
  color: white;
  padding: 30px;
  width: 95%;
  margin: 40px auto;
}

select{
  margin-left: 10px ;
}

h1{
  color: white;
  background-color: #000;
  margin: 30px 0;
}

header{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid white;
  background: repeating-linear-gradient(45deg,#000 0 40px, #fff 40px 80px);
}

button{
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 20px;
}
button:hover{
  background-color: rgb(255, 245, 134);
  color: black;
}

input{
  margin-right: 30px;
}

.selettore{
  display: inline-block;
}

.listaFilm{
  color: white;
  padding: 20px;
  border: 2px solid white;
  columns: 4;
}

.selettore{
  display: flex;
  align-items: center;
  border: 2px solid white;
  padding: 20px;
}

.Fantascienza:hover{
  color: #cea2ec ;
}
.Thriller:hover{
  color: #c3ff00;
}
.Romantico:hover{
  color: #ff0000;
}
.Azione:hover{
  color: #00ffff;
}
.Storico:hover{
  color: #848484;
}
.Drammatico:hover{
  color: #2a58a8;
}
li{
  margin: 10px;
  list-style-type: none;
}

li:hover{
  color: rgb(98, 98, 242);
  cursor: pointer;
}