*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerGeneral{
  height: 800px;
  background-color: black;
}

.containerForm{
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

h1{
  color: white;
  background-color: #000;
}

header{
    margin: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(45deg,#000 0 40px, #fff 40px 80px);
  background-size: cover;
}

.selettore{
  height: 20px;

}
.Fantascienza{
  background-color: rgb(131, 131, 255);
  color: white;
}
.Thriller{
  background-color:  rgb(246, 246, 120);
  color: black;
}
.Romantico{
  background-color: rgb(252, 115, 115);
  color: white;
}
.Azione{
  background-color: rgb(118, 248, 118);
}
.Storico{
  background-color: rgb(123, 123, 123);
  color: white;
}