*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.containerForm{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  border: 2px solid white;
  color: white;
  padding: 30px;
  width: 90%;
  margin: 40px auto;
}

label{
  padding: 20px;
}

select{
  margin-left: 10px ;
}

h1{
  color: white;
  background-color: #000;
  margin: 30px 0;
}

header{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid white;
  background: repeating-linear-gradient(45deg,#000 0 40px, #fff 40px 80px);
  background-size: cover;
}

button{
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 20px;
  border: 0;
  border-radius: 20px;
  margin: 10% 40%;
}

.selettore{
  columns: 2;
}

.listaFilm{
  color: white;
  border: 2px solid white;
  columns: 4;
}

.selettore{
  display: flex;
  align-items: center;
  height: 20px;
  border: 2px solid white;
  padding: 40px;
  margin-top: 20px;
}
.Fantascienza{
  background-color: #D7D1DB ;
  color: rgb(16, 14, 14);
}
.Thriller{
  background-color: #BAC1D3;
  color: black;
}
.Romantico{
  background-color: #A1B9D5;
  color: rgb(0, 0, 0);
}
.Azione{
  background-color: #879CD3;
}
.Storico{
  background-color: #5776AD;
  color: rgb(255, 255, 255);
}